header {
    width: 100%;
    padding: 4px;
    margin-bottom: 30px;
    color: #fff;
    background-color: midnightblue;
    text-align: center;
}
  
.partial {
    border: 1px solid red;
    padding: 15px;
}

.white {
  background-color: #fff;
}

table th {
  padding: 10px 20px;
  /* display: block; */
  text-align: left;
  margin: 0;
}

table td {
  padding: 10px 20px;
  /* display: block; */
  border-top:2px solid #EEEEEE;
}

.notice {
  background-color: #ccf;
  padding: 5px;
}

body {
  background-color: #EEEEEE;
  width: 100%;
}

.container {
  margin: 0 200px;
  width: 70%;
  display: flex;
  justify-content: center;
}

.under {
  display: flex;
  justify-content: space-between;
  margin-top: 36px;
  padding: 10px 20px;
}

.thin {
  color: #AAAAAA;
}

table {
  border-collapse: collapse;
}

.between {
  display: flex;
  justify-content: space-between;
}