.container {
    margin: 0 200px;
    width: 70%;
    display: flex;
    justify-content: center;
  }

  .under {
    display: flex;
    justify-content: space-between;
    margin-top: 36px;
    padding: 10px 20px;
  }